.DS_Store
.idea/
*.log
*.iml
yarn.lock
package-lock.json
node_modules/

# Ignore optional external libraries
source/lib/*

# Track internal libraries & Ignore unused verdors files
!source/lib/font-awesome/
source/lib/font-awesome/less/
source/lib/font-awesome/scss/
!source/lib/velocity/
!source/lib/pace/
!source/lib/canvas-nest/
!source/lib/mathjax/
!source/lib/mathjax-mhchem/
!source/lib/anime.min.js
!source/lib/jquery-3.4.1.min.js
